$color1: rgb(0,171,235); //blue
$color2: rgb(146,57,130); //purple
$color3: rgb(193,210,74); //yellow
$color4: rgb(255,255,255); //white
$color5: rgb(88,89,91); //grey

body {
    background-color: $color1;
}

h1{
    color: $color3;
}